<h1>What is Data?</h1>

- `Data` refers to a `collection of` discrete or continuous `values` that convey information.
- It can describe quantity, quality, facts, statistics, or simply sequences of symbols that may be further interpreted formally

<h1>What is Information?</h1>

- Information is classified or organized data with meaningful value for users

<h1>Why is Data Important?</h1>

- It helps in make better decisions.
- It helps in solve problems by finding the reason for underperformance.
- It helps to understand consumers and the market.

<h1>Categories of Data</h1>

- `Structcured Data`:
    - This type of data is organized data into specific format, making it easy to search , analyze and process.
    - Structured data is found in a relational databases that includes information like numbers, data and categories.
- `Unstructured Data`:
    - Unstructured data does not conform to a specific structure or format.
    - It may include some text documents , images, videos, and other data that is not easily organized or analyzed without additional processing.

<h2>Types of Data</h2>

- `Categorical Data`:
    - For eg. Eye Color, Marital Status, etc. 
- `Numerical Data`: It can be further classified into two types as
    - `Discrete Numerical Data`:
        - For eg. Number of students in a subject, number of defects
    - `Continuous Numerical Data`:
        - For eg. weight, voltage, etc.
- `Nominal Scale`:
    - Categorical Data where there is no ranking among the given categories.
    - For eg. gender, marital status, etc.
- `Ordinal Scale`:
    - Categorical Data where there is a ranking among the given categories.
    - For eg. Faculty Rank, Students Grade, etc.
- `Interval Scale`:
    - An interval scale may be an ordered scale during which the difference between measurements is a meaningful quantity but the measurements don’t have a true zero point.
    - For eg. Temparature in Farenheit and Celsius, Years, etc.
- `Ratio Scale`:
    - A ratio scale may be an ordered scale during which the difference between the measurements is a meaningful quantity and therefore the measurements have a true zero point.
    - Hence, we can perform arithmetic operations on real scale data.
    - For eg. Weight, age, salary, etc.

<h3>Majority of the use cases in AI, ML and DL we prefer to deal with tabular data. Many a times the data might not be tabular or maybe structured, in this notebook we will look at how handle such types of data.</h3>

<h2> Types of Data Sources that you have worked with:</h2>

- CSV Files
- XLSX files
- SQL Databases
- Web Scraping Data

<h1>Reading CSV Files</h1>

In [1]:
import pandas as pd

df = pd.read_csv(r"data\Iris.csv")

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<h3>As we can see from the above output the data from CSV file is directly coming in tabular format.</h3>

<h1>Handling CSV Problems</h1>

<h2>Handling Encodings in CSV Files</h2>

- `UTF-8 (utf-8)`:
    - A popular character encoding that supports a very large number of characters from virtually all modern and many historical scripts.

- `UTF-16 (utf-16)`:
    - Similar to UTF-8, but uses two or more bytes for each character.
    - It's more efficient for Asian languages where characters often require more than one byte.

- `UTF-32 (utf-32)`:
    - An encoding where each character is represented by four bytes.
    - It's not as space-efficient as UTF-8 or UTF-16.

- `ASCII (ascii)`:
    - An encoding standard for electronic communication, representing text in computers.
    - It is mainly using the English alphabet.

- `ISO-8859-1 (latin1)`:
    - A part of the ISO/IEC 8859 series, it's a single-byte encoding that can represent the first 256 Unicode characters.

- `ISO-8859-5 (iso-8859-5)`:
    - A part of the ISO standard, this encoding covers Cyrillic scripts.

- `ISO-8859-15 (iso-8859-15)`:
    - Similar to ISO-8859-1, but includes characters for French and Finnish languages.

- `Windows-1252 (cp1252)`:
    - A character encoding used in the Windows operating system.

- `KOI8-R (koi8-r)`:
    - An encoding system for representing Russian characters.

- `Big5 (big5)`:
    - A character encoding for Traditional Chinese, used in Taiwan, Hong Kong, and Macau.

- `GB2312 (gb2312)`:
    - A simplified Chinese character set used in Mainland China.

- `Shift_JIS (shift_jis)`:
    - A character encoding for the Japanese language, combining elements of the JIS X 0201 and JIS X 0208 standards.

- `EUC-JP (euc-jp)`:
    - Extended UNIX Code for Japanese, used primarily on UNIX-based systems.

- `EUC-KR (euc-kr)`:
    - Extended UNIX Code for Korean, similar to EUC-JP but for Korean characters.

- `Windows-1251 (cp1251)`:
    - Used for Cyrillic scripts, predominantly for Russian and Bulgarian languages.

In [2]:
import pandas as pd

try:
    df = pd.read_csv(r"data\autos.csv") # Default Encoding is UTF-8
except Exception as e:
    print(e.with_traceback)
    print(e)
    print(type(e).__name__)

<built-in method with_traceback of UnicodeDecodeError object at 0x000001310C9A90C0>
'utf-8' codec can't decode byte 0xdc in position 732: invalid continuation byte
UnicodeDecodeError

<h3><b><u>Observation</u></b>:</h3> 

- Since the encoding of the file is different we can't read the CSV in default encoding. 
- So in order to solve this problem we will have to provide a correct encoding for the document to be read by the pandas module.

In [3]:
import pandas as pd

df = pd.read_csv(r"data\autos.csv",encoding="LATIN-1")

df.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50

Now manually testing each encoding can be very difficult, so a possible solution which can be done is as follows

In [4]:
import pandas as pd

encodings = ["UTF-8","UTF-7","LATIN-1"] # you can have multiple common encoding and try it

for encoding in encodings:
    try:
        df = pd.read_csv(r"data\autos.csv",encoding=encoding)
    except UnicodeDecodeError:
        continue
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

<h3>Alternate to list approach for encoding detection of a file</h3>

- We can go fo the python module called as `chardet`
- to install it run the command: `!pip install chardet`
- There might be a possibility of this method giving garbage answer, in that case use the previous way.

In [5]:
!pip install chardet

Requirement already satisfied: chardet in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (5.2.0)

In [1]:
import chardet

file = open(r"bank_data.csv","rb") # reading the file in binary mode

# Based upon the binary, chardet is detecting the encoding of the file
chardet.detect(file.read())

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

<h2>Parsing Errors in CSV Files</h2>

- This error happens when a datapoint(s) have more number of columns than the default standard.
- For e.g. If a CSV file has 3 columns, Name age and grade but for one of the data point the information is given as follows:
    - (Stefan,22,A,Extra,asda,asdas)
- Now here I have extra values and pandas is unable to handle this by default.

In [7]:
try:
    df = pd.read_csv(r"data\Sample.csv")
except Exception as e:
    print(e.with_traceback)
    print(e)
    print(type(e).__name__)

<built-in method with_traceback of ParserError object at 0x000001311BD4F220>
Error tokenizing data. C error: Expected 4 fields in line 6, saw 6

ParserError

Now in order to solve this problem we can do the following

In [8]:
import pandas as pd

df = pd.read_csv(r"data\Sample.csv",on_bad_lines="skip")
# Older version of pandas use error_bad_lines as the parameter name

# on_bad_lines you can give error(default), warn, skip
# warn : gives a warining and tells which lines it skipped for reading
# skip : directly skips the line which are having extra values and doesn't give any warning or error.

df.head()

   Name   Age Grade  Unnamed: 3
0    Bob   21     B         NaN
1  Alice   23     A         NaN
2  Jacob   25     A         NaN
3  Damon   22     B         NaN

<h2>Using CONVERTER with CSV files</h2>

- The `read_csv()` method in pandas has a parameter called `converter`.
- `converter` allows you to apply functions on a csv file column while loading the data itself

In [9]:
# Convert age to categorical data based on age>=25 => Old otherwise young

def f1(x):
    if int(x)>=25:
        return "Old"
    else:
        return "Young"

import pandas as pd

df = pd.read_csv(r"data\Sample.csv",on_bad_lines="skip",converters = {"Age":f1})

df.head()

   Name     Age Grade  Unnamed: 3
0    Bob  Young     B         NaN
1  Alice  Young     A         NaN
2  Jacob    Old     A         NaN
3  Damon  Young     B         NaN

<h2>Memory Management in CSV Files</h2>

- Many a times in the real world scenario the csv file size is too large to be loaded into the memory in one shot.
- If we force it it will cause the RAM get filled completly and cause problems like: System Hang, sudden crash of windows or python environment.
- In order to avoid these problems we can utilize the paramter like `chunksize`

In [10]:
import pandas as pd

df = pd.read_csv(r"data\autos.csv",encoding="LATIN-1",chunksize=10000)

df

- When we use `chunksize` we do not get a dataframe, instead we get an <b>iterator</b>.
- This iterator can be used to iterate over the chunks.

In [11]:
# Correct way of using chunksize

import pandas as pd

# Take a chunk count to consider only a small portion of the data
chunk_count = 0
for chunk in pd.read_csv(r"data\autos.csv",encoding="LATIN-1",chunksize=10000):
    print(chunk.info())
    print("*"*100)
    chunk_count+=1
    if chunk_count==3:
        break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          10000 non-null  object
 1   name                 10000 non-null  object
 2   seller               10000 non-null  object
 3   offerType            10000 non-null  object
 4   price                10000 non-null  int64
 5   abtest               10000 non-null  object
 6   vehicleType          8914 non-null   object
 7   yearOfRegistration   10000 non-null  int64
 8   gearbox              9446 non-null   object
 9   powerPS              10000 non-null  int64
 10  model                9479 non-null   object
 11  kilometer            10000 non-null  int64
 12  monthOfRegistration  10000 non-null  int64
 13  fuelType             9068 non-null   object
 14  brand                10000 non-null  object
 15  notRepairedDamage    8037 non-null   object
 16  dateCreated          10000 non-null  object
 17  nrOfPictures         10000 non-null  int64
 18  postalCode           10000 non-null  int64
 19  lastSeen             10000 non-null  object
dtypes: int64(7), object(13)
memory usage: 1.5+ MB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 10000 to 19999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          10000 non-null  object
 1   name                 10000 non-null  object
 2   seller               10000 non-null  object
 3   offerType            10000 non-null  object
 4   price                10000 non-null  int64
 5   abtest               10000 non-null  object
 6   vehicleType          8998 non-null   object
 7   yearOfRegistration   10000 non-null  int64
 8   gearbox              9481 non-null   object
 9   powerPS              10000 non-null  int64
 10  model                9464 non-null   object
 11  kilometer            10000 non-null  int64
 12  monthOfRegistration  10000 non-null  int64
 13  fuelType             9106 non-null   object
 14  brand                10000 non-null  object
 15  notRepairedDamage    8073 non-null   object
 16  dateCreated          10000 non-null  object
 17  nrOfPictures         10000 non-null  int64
 18  postalCode           10000 non-null  int64
 19  lastSeen             10000 non-null  object
dtypes: int64(7), object(13)
memory usage: 1.5+ MB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 20000 to 29999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          10000 non-null  object
 1   name                 10000 non-null  object
 2   seller               10000 non-null  object
 3   offerType            10000 non-null  object
 4   price                10000 non-null  int64
 5   abtest               10000 non-null  object
 6   vehicleType          8938 non-null   object
 7   yearOfRegistration   10000 non-null  int64
 8   gearbox              9448 non-null   object
 9   powerPS              10000 non-null  int64
 10  model                9423 non-null   object
 11  kilometer            10000 non-null  int64
 12  monthOfRegistration  10000 non-null  int64
 13  fuelType             9059 non-null   object
 14  brand                10000 non-null  object
 15  notRepairedDamage    8031 non-null   object
 16  dateCreated          10000 non-null  object
 17  nrOfPictures         10000 non-null  int64
 18  postalCode           10000 non-null  int64
 19  lastSeen             10000 non-null  object
dtypes: int64(7), object(13)
memory usage: 1.5+ MB
None
****************************************************************************************************

<h3>As the data is in chunks the entry numbers are also updated accordingly</h3>
<br>
<img src="notes images\Chunk.PNG">

<h1>Reading Excel Files</h1>

Install `openpyxl` in order to read excel files via pandas<br>
`!pip install openpyxl`

In [12]:
import pandas as pd

df = pd.read_excel(r"data\Diamonds.xlsx")

df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

<h3>As we can see from the above output the data from XLSX file is directly coming in tabular format.</h3>

<h2>Importance of Excel Files</h2>

- When it comes to MS Excel, the default saving extention is `.xlsx`.
- Excel files allows you to store data on multiple sheets, something which is not available with CSV files.

In [13]:
# Laoding an excel file with multiple sheets

import pandas as pd

df = pd.read_excel(r"data\sample.xlsx")
df.head()

   1  2  3
0  4  5  6

In [14]:
# Now it is reading only first sheet and now I dont want 1st row of data as header and want all the sheets

import pandas as pd

df1 = pd.read_excel(r"data\sample.xlsx",header=None,sheet_name="Sheet1") #By default it will always read sheet1
df2 = pd.read_excel(r"data\sample.xlsx",header=None,sheet_name="Sheet2")
df3 = pd.read_excel(r"data\sample.xlsx",header=None,sheet_name="Sheet3")

In [15]:
df1.head()

   0  1  2
0  1  2  3
1  4  5  6

In [16]:
df2.head()

   0  1   2
0  5  6   7
1  8  9  10

In [17]:
df3.head()

       0     1      2
0    frj  wejf  sfkjd
1  sdfgn   kjf   dkjb

In [18]:
# Saving the excel file with 3 sheets

import pandas as pd

file = pd.ExcelWriter(r"data\SavedSample.xlsx")

df1.to_excel(file,sheet_name="df sheet 1")
df2.to_excel(file,sheet_name="df sheet 2")
df3.to_excel(file,sheet_name="df sheet 3")

file.close()

<h1>Reading HTML Files</h1>

- When the HTML page contains tabular data, using pandas it can be loaded.
- The `read_html()` method utlizies Beautiful Soup at the back end.
- It will only scrape the content which is in the `<td>` or `<th>` tag.
- In order to use `read_html()` install `lxml` dependency along with pandas.

In [19]:
!pip install lxml

Requirement already satisfied: lxml in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (5.2.1)

In [20]:
import pandas as pd

# Pass the URL as a string to the function
data = pd.read_html("https://en.wikipedia.org/wiki/Indian_Premier_League")

In [21]:
print(type(data),len(data))

<class 'list'> 34

- So the URL contained 34 tables all of which have been scraped and stored in a list.
- The `data` is basically a list of pandas dataframes.

In [22]:
data

[                             0  \
 0                          NaN
 1                    Countries
 2                Administrator
 3                 Headquarters
 4                       Format
 5                First edition
 6               Latest edition
 7            Tournament format
 8              Number of teams
 9             Current champion
 10             Most successful
 11                   Most runs
 12                Most wickets
 13                          TV
 14                     Website
 15  2024 Indian Premier League

                                                     1
 0                                                 NaN
 1                                               India
 2        Board of Control for Cricket in India (BCCI)
 3     Cricket Centre, Churchgate, Mumbai, Maharashtra
 4                                            Twenty20
 5                                                2008
 6                                                2023
 7   Round Robin format with Group System and Playoffs
 8                                                  10
 9                     Chennai Super Kings (5th title)
 10  Chennai Super Kings Mumbai Indians (5 titles e...
 11                                Virat Kohli (7,582)
 12                             Yuzvendra Chahal (200)
 13  India Star Sports (Television)[1] JioCinema (I...
 14                                         iplt20.com
 15                         2024 Indian Premier League  ,
                                              Seasons
 0  2008 2009 2010 2011 2012 2013 2014 2015 2016 2...,
     Season                    Winners
 0     2008           Rajasthan Royals
 1     2009            Deccan Chargers
 2     2010        Chennai Super Kings
 3     2011    Chennai Super Kings (2)
 4     2012      Kolkata Knight Riders
 5     2013             Mumbai Indians
 6     2014  Kolkata Knight Riders (2)
 7     2015         Mumbai Indians (2)
 8     2016        Sunrisers Hyderabad
 9     2017         Mumbai Indians (3)
 10    2018    Chennai Super Kings (3)
 11    2019         Mumbai Indians (4)
 12    2020         Mumbai Indians (5)
 13    2021    Chennai Super Kings (4)
 14    2022             Gujarat Titans
 15    2023    Chennai Super Kings (5),
          Indian Premier League                     CPL  \
 0          Chennai Super Kings                     NaN
 1               Delhi Capitals                     NaN
 2               Gujarat Titans                     NaN
 3        Kolkata Knight Riders  Trinbago Knight Riders
 4         Lucknow Super Giants                     NaN
 5               Mumbai Indians                     NaN
 6                 Punjab Kings       Saint Lucia Kings
 7             Rajasthan Royals         Barbados Royals
 8  Royal Challengers Bengaluru                     NaN
 9          Sunrisers Hyderabad                     NaN

                      SA20                      ILT                        MLC
 0      Joburg Super Kings                      NaN          Texas Super Kings
 1       Pretoria Capitals           Dubai Capitals                        NaN
 2                     NaN                      NaN                        NaN
 3                     NaN  Abu Dhabi Knight Riders  Los Angeles Knight Riders
 4   Durban's Super Giants                      NaN                        NaN
 5            MI Cape Town              MI Emirates                MI New York
 6                     NaN                      NaN                        NaN
 7            Paarl Royals                      NaN                        NaN
 8                     NaN                      NaN                        NaN
 9  Sunrisers Eastern Cape                      NaN                        NaN  ,
     0                                                  1
 0 NaN  This section needs to be updated. The reason g...,
                           Team       City          State  \
 0          Chennai Super Kings    Chennai     Tamil Nadu
 1               Delhi Capitals  New Delhi          Delhi
 2               Gujarat Titans  Ahmedabad        Gujarat
 3        Kolkata Knight Riders    Kolkata    West Bengal
 4         Lucknow Super Giants    Lucknow  Uttar Pradesh
 5               Mumbai Indians     Mumbai    Maharashtra
 6                 Punjab Kings  Mullanpur         Punjab
 7             Rajasthan Royals     Jaipur      Rajasthan
 8  Royal Challengers Bengaluru  Bengaluru      Karnataka
 9          Sunrisers Hyderabad  Hyderabad      Telangana

                                          Home ground  Debut          Captain  \
 0                          M. A. Chidambaram Stadium   2008  Ruturaj Gaikwad
 1                               Arun Jaitley Stadium   2008     Rishabh Pant
 2                              Narendra Modi Stadium   2022     Shubman Gill
 3                                       Eden Gardens   2008     Shreyas Iyer
 4                               BRSABV Ekana Stadium   2022         KL Rahul
 5                                   Wankhede Stadium   2008    Hardik Pandya
 6  Maharaja Yadavindra Singh International Cricke...   2008   Shikhar Dhawan
 7                             Sawai Mansingh Stadium   2008     Sanju Samson
 8                             M. Chinnaswamy Stadium   2008   Faf du Plessis
 9                               Rajiv Gandhi Stadium   2013      Pat Cummins

            Head coach                                   Owner(s)
 0     Stephen Fleming           Chennai Super Kings Cricket Ltd.
 1       Ricky Ponting  GMR Sports Pvt. Ltd. JSW Sports Pvt. Ltd.
 2        Ashish Nehra                       CVC Capital Partners
 3  Chandrakant Pandit             Knight Riders Sports Pvt. Ltd.
 4       Justin Langer                     RP-Sanjiv Goenka Group
 5        Mark Boucher                  Indiawin Sports Pvt. Ltd.
 6      Trevor Bayliss                KPH Dream Cricket Pvt. Ltd.
 7     Kumar Sangakara                    The Royals Sports Group
 8         Andy Flower                             United Spirits
 9      Daniel Vettori                             SUN TV Network  ,
                      Team       City               State  \
 0         Deccan Chargers  Hyderabad  Andhra Pradesh[73]
 1    Kochi Tuskers Kerala      Kochi              Kerala
 2     Pune Warriors India       Pune         Maharashtra
 3  Rising Pune Supergiant       Pune         Maharashtra
 4           Gujarat Lions     Rajkot             Gujarat

                                Home ground  Debut  Dissolved  \
 0                     Rajiv Gandhi Stadium   2008       2012
 1                 Jawaharlal Nehru Stadium   2011       2011
 2  Maharashtra Cricket Association Stadium   2011       2013
 3  Maharashtra Cricket Association Stadium   2016       2018
 4   Saurashtra Cricket Association Stadium   2016       2018

                             Owner(s)
 0  T. Venkattram Reddy Gayatri Reddy
 1              Kochi Cricket Pvt Ltd
 2                        Subrata Roy
 3                      Sanjiv Goenka
 4                      Keshav Bansal  ,
                            Team Title(s) Runner-up  \
 0           Chennai Super Kings        5         5
 1                Mumbai Indians        5         1
 2         Kolkata Knight Riders        2         1
 3              Rajasthan Royals        1         1
 4           Sunrisers Hyderabad        1         1
 5                Gujarat Titans        1         1
 6              Deccan Chargers†        1         –
 7   Royal Challengers Bengaluru        –         3
 8                  Punjab Kings        –         1
 9                Delhi Capitals        –         1
 10      Rising Pune Supergiant†        –         1

                      Seasons won             Seasons runner-up  \
 0   2010, 2011, 2018, 2021, 2023  2008, 2012, 2013, 2015, 2019
 1   2013, 2015, 2017, 2019, 2020                          2010
 2                     2012, 2014                          2021
 3                           2008                          2022
 4                           2016                          2018
 5                           2022                          2023
 6                           2009                             –
 7                              –              2009, 2011, 2016
 8                              –                          2014
 9                              –                          2020
 10                             –                          2017

     No. of playoffs played  No. of seasons played
 0                       12                     14
 1                       10                     16
 2                        7                     16
 3                        5                     14
 4                        6                     11
 5                        2                      2
 6                        2                      5
 7                        8                     16
 8                        2                     16
 9                        3                     16
 10                       1                      2  ,
     Year                                     Final  \
     Year                                    Winner
 0   2008         Rajasthan Royals 164/7 (20 overs)
 1   2009          Deccan Chargers 143/6 (20 overs)
 2   2010      Chennai Super Kings 168/5 (20 overs)
 3   2011      Chennai Super Kings 205/5 (20 overs)
 4   2012  Kolkata Knight Riders 192/5 (19.4 overs)
 5   2013           Mumbai Indians 148/9 (20 overs)
 6   2014  Kolkata Knight Riders 200/7 (19.3 overs)
 7   2015           Mumbai Indians 202/5 (20 overs)
 8   2016      Sunrisers Hyderabad 208/7 (20 overs)
 9   2017           Mumbai Indians 129/8 (20 overs)
 10  2018    Chennai Super Kings 181/2 (18.3 overs)
 11  2019           Mumbai Indians 149/8 (20 overs)
 12  2020         Mumbai Indians 157/5 (18.4 overs)
 13  2021      Chennai Super Kings 192/3 (20 overs)
 14  2022         Gujarat Titans 133/3 (18.1 overs)
 15  2023      Chennai Super Kings 171/5 (15 overs)
 16  2024                                       NaN

                                                    \
                                            Result
 0                 RR won by 3 wickets (scorecard)
 1                   DEC won by 6 runs (scorecard)
 2                  CSK won by 22 runs (scorecard)
 3                  CSK won by 58 runs (scorecard)
 4                KKR won by 5 wickets (scorecard)
 5                   MI won by 23 runs (scorecard)
 6                KKR won by 3 wickets (scorecard)
 7                   MI won by 41 runs (scorecard)
 8                   SRH won by 8 runs (scorecard)
 9                     MI won by 1 run (scorecard)
 10               CSK won by 8 wickets (scorecard)
 11                    MI won by 1 run (scorecard)
 12                MI won by 5 wickets (scorecard)
 13                 CSK won by 27 runs (scorecard)
 14                GT won by 7 wickets (scorecard)
 15  CSK won by 5 wickets (DLS-method) (scorecard)
 16                                            NaN

                                                   \
                                        Runner-up
 0           Chennai Super Kings 163/5 (20 overs)
 1   Royal Challengers Bangalore 137/9 (20 overs)
 2                Mumbai Indians 146/9 (20 overs)
 3   Royal Challengers Bangalore 147/8 (20 overs)
 4           Chennai Super Kings 190/3 (20 overs)
 5           Chennai Super Kings 125/9 (20 overs)
 6               Kings XI Punjab 199/4 (20 overs)
 7           Chennai Super Kings 161/8 (20 overs)
 8   Royal Challengers Bangalore 200/7 (20 overs)
 9        Rising Pune Supergiant 128/6 (20 overs)
 10          Sunrisers Hyderabad 178/6 (20 overs)
 11          Chennai Super Kings 148/7 (20 overs)
 12               Delhi Capitals 156/7 (20 overs)
 13        Kolkata Knight Riders 165/9 (20 overs)
 14             Rajasthan Royals 130/9 (20 overs)
 15               Gujarat Titans 214/4 (20 overs)
 16                                           NaN

                                    Final venue   Player of the season
                                    Final venue   Player of the season
 0                DY Patil Stadium, Navi Mumbai      Shane Watson (RR)
 1              Wanderers Stadium, Johannesburg   Adam Gilchrist (DEC)
 2                DY Patil Stadium, Navi Mumbai  Sachin Tendulkar (MI)
 3           M. A. Chidambaram Stadium, Chennai      Chris Gayle (RCB)
 4           M. A. Chidambaram Stadium, Chennai     Sunil Narine (KKR)
 5                        Eden Gardens, Kolkata      Shane Watson (RR)
 6            M. Chinnaswamy Stadium, Bengaluru   Glenn Maxwell (KXIP)
 7                        Eden Gardens, Kolkata    Andre Russell (KKR)
 8            M. Chinnaswamy Stadium, Bengaluru      Virat Kohli (RCB)
 9              Rajiv Gandhi Stadium, Hyderabad       Ben Stokes (RPS)
 10                    Wankhede Stadium, Mumbai     Sunil Narine (KKR)
 11             Rajiv Gandhi Stadium, Hyderabad    Andre Russell (KKR)
 12  Dubai International Cricket Stadium, Dubai      Jofra Archer (RR)
 13  Dubai International Cricket Stadium, Dubai    Harshal Patel (RCB)
 14            Narendra Modi Stadium, Ahmedabad       Jos Buttler (RR)
 15            Narendra Modi Stadium, Ahmedabad      Shubman Gill (GT)
 16          M. A. Chidambaram Stadium, Chennai                    NaN  ,
                    Season (No. of teams) 2008 (8) 2009 (8) 2010 (8) 2011 (10)  \
 0                    Chennai Super Kings       RU       SF        C         C
 1      Delhi Capitals / Delhi Daredevils       SF       SF      5th      10th
 2                         Gujarat Titans        –        –        –         –
 3                  Kolkata Knight Riders      6th      8th      6th        PO
 4                   Lucknow Super Giants        –        –        –         –
 5                         Mumbai Indians      5th      7th       RU        PO
 6         Punjab Kings / Kings XI Punjab       SF      5th      8th       5th
 7                       Rajasthan Royals        C      6th      7th       6th
 8            Royal Challengers Bengaluru      7th       RU      3rd        RU
 9                    Sunrisers Hyderabad        –        –        –         –
 10                      Deccan Chargers†      8th        C      4th       7th
 11                 Kochi Tuskers Kerala†        –        –        –       8th
 12  Pune Warriors / Pune Warriors India†        –        –        –       9th
 13                        Gujarat Lions†        –        –        –         –
 14               Rising Pune Supergiant†        –        –        –         –

    2012 (9) 2013 (9) 2014 (8) 2015 (8)   2016 (8)   2017 (8) 2018 (8)  \
 0        RU       RU       PO       RU  Suspended  Suspended        C
 1        PO      9th      8th      7th        6th        6th      8th
 2         –        –        –        –          –          –        –
 3         C      7th        C      5th         PO         PO       PO
 4         –        –        –        –          –          –        –
 5        PO        C       PO        C        5th          C      5th
 6       6th      6th       RU      8th        8th        5th      7th
 7       7th       PO      5th       PO  Suspended  Suspended       PO
 8       5th      5th      7th       PO         RU        8th      6th
 9         –       PO      6th      6th          C         PO       RU
 10      8th        –        –        –          –          –        –
 11        –        –        –        –          –          –        –
 12      9th      8th        –        –          –          –        –
 13        –        –        –        –         PO        7th        –
 14        –        –        –        –        7th         RU        –

    2019 (8) 2020 (8) 2021 (8) 2022 (10) 2023 (10) 2024 (10)
 0        RU      7th        C       9th         C       NaN
 1        PO       RU       PO       5th       9th       NaN
 2         –        –        –         C        RU       NaN
 3       5th      5th       RU       7th       7th       NaN
 4         –        –        –        PO        PO       NaN
 5         C        C      5th      10th        PO       NaN
 6       6th      6th      6th       6th       8th       NaN
 7       7th      8th      7th        RU       5th       NaN
 8       8th       PO       PO        PO       6th       NaN
 9        PO       PO      8th       8th      10th       NaN
 10        –        –        –         –         –         –
 11        –        –        –         –         –         –
 12        –        –        –         –         –         –
 13        –        –        –         –         –         –
 14        –        –        –         –         –         –  ,
     Year       1st      2nd      3rd      4th   5th   6th   7th   8th  9th  \
 0   2008    RR (C)     KXIP  CSK (R)       DD    MI   KKR   RCB    DC  NaN
 1   2009        DD      CSK  RCB (R)   DC (C)  KXIP    RR    MI   KKR  NaN
 2   2010    MI (R)       DC  CSK (C)      RCB    DD   KKR    RR  KXIP  NaN
 3   2011   CSK (C)  RCB (R)       MI      KKR  KXIP    RR    DC   KTK  PWI
 4   2012        DD  KKR (C)       MI  CSK (R)   RCB  KXIP    RR    DC  PWI
 5   2013    MI (C)  CSK (R)       RR      SRH   RCB  KXIP   KKR   PWI   DC
 6   2014  KXIP (R)  KKR (C)      CSK       MI    RR   SRH   RCB    DC  NaN
 7   2015   CSK (R)   MI (C)      RCB       RR   KKR   SRH    DC  KXIP  NaN
 8   2016        GL  RCB (R)  SRH (C)      KKR    MI    DC   RPS  KXIP  NaN
 9   2017    MI (C)  RPS (R)      SRH      KKR  KXIP    DC    GL   RCB  NaN
 10  2018   SRH (R)  CSK (C)      KKR       RR    MI   RCB  KXIP    DC  NaN
 11  2019    MI (C)  CSK (R)       DC      SRH   KKR  KXIP    RR   RCB  NaN
 12  2020    MI (C)   DC (R)      SRH      RCB   KKR  KXIP   CSK    RR  NaN
 13  2021    DC (R)  CSK (C)      RCB      KKR    MI  KXIP    RR   SRH  NaN
 14  2022    GT (C)   RR (R)      LSG      RCB    DC  KXIP   KKR   SRH  CSK
 15  2023    GT (R)  CSK (C)      LSG       MI    RR   RCB   KKR  KXIP   DC

    10th
 0   NaN
 1   NaN
 2   NaN
 3    DD
 4   NaN
 5   NaN
 6   NaN
 7   NaN
 8   NaN
 9   NaN
 10  NaN
 11  NaN
 12  NaN
 13  NaN
 14   MI
 15  SRH  ,
     Team   MP  Won  Lost  N/R  Points  WR (%)
 0     MI  228  127   100    1     255   55.95
 1    CSK  200  114    83    3     231   57.87
 2    KKR  228  112   112    4     228   50.00
 3    RCB  228  110   112    6     226   49.55
 4     DC  228  106   119    3     215   47.11
 5   PBKS  228  106   122    0     212   46.49
 6     RR  200   99    96    5     203   50.77
 7    SRH  156   74    81    1     149   47.74
 8   DEC†   72   27    44    1      55   38.03
 9     GT   28   20     8    0      40   71.43
 10   LSG   28   17    10    1      35   62.96
 11  RPS†   28   14    14    0      28   50.00
 12   GL†   28   13    15    0      26   46.43
 13  PWI†   46   12    33    1      25   26.67
 14  KTK†   14    6     8    0      12   42.86,
                     0
 0  † Team now defunct,
                     Batting Records                    Batting Records.1  \
 0                         Most runs                    Virat Kohli (RCB)
 1                     Highest score                    Chris Gayle (RCB)
 2               Highest partnership   Virat Kohli & AB de Villiers (RCB)
 3                        Most sixes           Chris Gayle (KKR/RCB/PBKS)
 4                        Most fours  Shikhar Dhawan\t(DD/MI/DC/SRH/PBKS)
 5                    Most centuries                    Virat Kohli (RCB)
 6               Most half centuries                David Warner (SRH/DC)
 7             Most runs in a season                    Virat Kohli (RCB)
 8                   Bowling Records                      Bowling Records
 9                      Most wickets         Yuzvendra Chahal (MI/RCB/RR)
 10             Best bowling average                  Lasith Malinga (MI)
 11             Best bowling figures                  Alzarri Joseph (MI)

In [23]:
data[0]

,0,1
0,NaN,NaN
1,Countries,India
2,Administrator,Board of Control for Cricket in India (BCCI)
3,Headquarters,"Cricket Centre, Churchgate, Mumbai, Maharashtra"
4,Format,Twenty20
5,First edition,2008
6,Latest edition,2023
7,Tournament format,Round Robin format with Group System and Playoffs
8,Number of teams,10
9,Current champion,Chennai Super Kings (5th title)
10,Most successful,Chennai Super Kings Mumbai Indians (5 titles e...
11,Most runs,"Virat Kohli (7,582)"
12,Most wickets,Yuzvendra Chahal (200)
13,TV,India Star Sports (Television)[1] JioCinema (I...
14,Website,iplt20.com
15,2024 Indian Premier League,2024 Indian Premier League

<h4>When to use read_html() and when to do web scraping?</h4>

- Go for web scraping if the data on the website is not present in tabular format.
- Go for read_html() if the data on the website already exists in tabular format.

Scrolling through each index of `data` is very tiresome, so there is way to select only the table we want

In [24]:
# Let's say we want to scrape the table where I have information on home ground
import pandas as pd

data = pd.read_html("https://en.wikipedia.org/wiki/Indian_Premier_League",match="Home ground")
# match parameter basically ensures to scrape only those tables which have the match string in it

print(type(data),len(data))

<class 'list'> 2

In [25]:
data[0]

,Team,City,State,Home ground,Debut,Captain,Head coach,Owner(s)
0,Chennai Super Kings,Chennai,Tamil Nadu,M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,Chennai Super Kings Cricket Ltd.
1,Delhi Capitals,New Delhi,Delhi,Arun Jaitley Stadium,2008,Rishabh Pant,Ricky Ponting,GMR Sports Pvt. Ltd. JSW Sports Pvt. Ltd.
2,Gujarat Titans,Ahmedabad,Gujarat,Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,CVC Capital Partners
3,Kolkata Knight Riders,Kolkata,West Bengal,Eden Gardens,2008,Shreyas Iyer,Chandrakant Pandit,Knight Riders Sports Pvt. Ltd.
4,Lucknow Super Giants,Lucknow,Uttar Pradesh,BRSABV Ekana Stadium,2022,KL Rahul,Justin Langer,RP-Sanjiv Goenka Group
5,Mumbai Indians,Mumbai,Maharashtra,Wankhede Stadium,2008,Hardik Pandya,Mark Boucher,Indiawin Sports Pvt. Ltd.
6,Punjab Kings,Mullanpur,Punjab,Maharaja Yadavindra Singh International Cricke...,2008,Shikhar Dhawan,Trevor Bayliss,KPH Dream Cricket Pvt. Ltd.
7,Rajasthan Royals,Jaipur,Rajasthan,Sawai Mansingh Stadium,2008,Sanju Samson,Kumar Sangakara,The Royals Sports Group
8,Royal Challengers Bengaluru,Bengaluru,Karnataka,M. Chinnaswamy Stadium,2008,Faf du Plessis,Andy Flower,United Spirits
9,Sunrisers Hyderabad,Hyderabad,Telangana,Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,SUN TV Network

In [26]:
data[1]

,Team,City,State,Home ground,Debut,Dissolved,Owner(s)
0,Deccan Chargers,Hyderabad,Andhra Pradesh[73],Rajiv Gandhi Stadium,2008,2012,T. Venkattram Reddy Gayatri Reddy
1,Kochi Tuskers Kerala,Kochi,Kerala,Jawaharlal Nehru Stadium,2011,2011,Kochi Cricket Pvt Ltd
2,Pune Warriors India,Pune,Maharashtra,Maharashtra Cricket Association Stadium,2011,2013,Subrata Roy
3,Rising Pune Supergiant,Pune,Maharashtra,Maharashtra Cricket Association Stadium,2016,2018,Sanjiv Goenka
4,Gujarat Lions,Rajkot,Gujarat,Saurashtra Cricket Association Stadium,2016,2018,Keshav Bansal

In [27]:
# Scrape season wise player of the season
import pandas as pd

data = pd.read_html("https://en.wikipedia.org/wiki/Indian_Premier_League",match="Player of the season")

len(data)

1

In [28]:
data[0].head(2)

   Year                              Final                                   \
   Year                             Winner                           Result
0  2008  Rajasthan Royals 164/7 (20 overs)  RR won by 3 wickets (scorecard)
1  2009   Deccan Chargers 143/6 (20 overs)    DEC won by 6 runs (scorecard)

                                                 \
                                      Runner-up
0          Chennai Super Kings 163/5 (20 overs)
1  Royal Challengers Bangalore 137/9 (20 overs)

                       Final venue  Player of the season
                       Final venue  Player of the season
0    DY Patil Stadium, Navi Mumbai     Shane Watson (RR)
1  Wanderers Stadium, Johannesburg  Adam Gilchrist (DEC)

<h1>Reading JSON Files</h1>

`JSON` stands for `JavaScript Object Notation`. It is a lightweight format for storing and transporting data.

<h4>Sample JSON Data</h4>

<img src="notes images\json sample.png">

The JSON data is in the form of key-value pairs similar to a dictionary. However there are some traits which makes it unique:
- The `key` in JSON data will always be of type `string`.
- The `value` in JSON data can be of any `datatype`.
- It is also possible to have nested datatypes within the values.
- JSON is a widely used data format for storing information and exchanging it.
- JSON data is written as name:value pairs.
- Most commonly it is used by API for sending and fetching data.

- In order to validate whether a given data is a valid JSON or not, you can use: https://www.online-json.com/

Python Dictionary looks very similar to JSON format and if you want to read a dictionary data, it needs to first be converted into JSON

In [29]:
import pandas as pd

data = {"Name":["Bob"],"age":[23],"Weight":[78]}

try:
    df = pd.read_json(data)
except Exception as e:
    print(e.with_traceback)
    print(e)
    print(type(e).__name__)

<built-in method with_traceback of ValueError object at 0x000001311012C9F0>
Invalid file path or buffer object type: <class 'dict'>
ValueError

In [30]:
# In order to read the data, convert it into stringIO Object so as to treat it as string
# older version allowed direct use of string but the latest version of pandas needs StringIO object
import pandas as pd
from io import StringIO

data = '{"Name":["Bob"],"age":[23],"Weight":[78]}' 
# Technically not a valid JSON because it is in quotes

# Wrap the data in a StringIO Object
data_io = StringIO(data)

df = pd.read_json(data_io)

df

  Name  age  Weight
0  Bob   23      78

In [31]:
import pandas as pd

# Reading a standard JSON File
df = pd.read_json(r"data\iris.json")

df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

- Now as per the above example, JSON is key value pair.
- But in `iris.json` is a list of dictionaries.
- The `read_json()` function of pandas reads the list of dictionary individually and adds them as a datapoint in the dataframe.

<h2>Handling Complicated JSON Files</h2>

<h3>Oreint in JSON</h3>

In [32]:
import pandas as pd
from io import StringIO

data = '{"name":"Adam","age":23,"info":{"Height":180,"Weight":76}}'
# This JSON data has one of the value as another JSON

data = StringIO(data)

df1 = pd.read_json(data,orient="index")
# orient="index" treats every key as row values

df1

                                  0
name                           Adam
age                              23
info  {'Height': 180, 'Weight': 76}

In [33]:
# Since after using data in read_json the data object of StrinIO class has been consumed and reached the end.
# So in order to re-use it to create another dataframe, we need to bring it back to the starting
data.seek(0)

df2 = pd.read_json(data,orient="columns")
# orient="columns" treats every key as column name

df2

        name  age  info
Height  Adam   23   180
Weight  Adam   23    76

In [34]:
import pandas as pd
from io import StringIO

# When the data is list of dictionaries with same keys use oreint="records"
data = '[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'
data = StringIO(data)

df = pd.read_json(data,orient="records")

df

  col 1 col 2
0     a     b
1     c     d

In [35]:
import pandas as pd
from io import StringIO
data = '{"name":"Adam","age":23,"info":{"Height":180,"Weight":76}}'
# This JSON data has one of the value as a dictionary, when the value is dictionary
# every key of that dictionary is treated as row value

data = StringIO(data)

df = pd.read_json(data)

df

        name  age  info
Height  Adam   23   180
Weight  Adam   23    76

<h3>JSON Normalize for Complex JSON Structure</h3>

- When using `read_json()` the data which is passed as input must be a string containing a dictionary
- When using `json_normalize()` the data must be a list containing a dictionary.

In [36]:
import pandas as pd

data = [{"name":"Adam","age":23,"info":{"Height":180,"Weight":76}}]

df = pd.json_normalize(data)

df

   name  age  info.Height  info.Weight
0  Adam   23          180           76

<h4>Using Max Level to control columns</h4>

In [37]:
import pandas as pd

data = [{"name":"Adam","age":23,"info":{"Height":{"h1":23},"Weight":76}}]

df0 = pd.json_normalize(data,max_level=0)
df1 = pd.json_normalize(data,max_level=1)
df2 = pd.json_normalize(data,max_level=2)

In [38]:
df0

   name  age                                  info
0  Adam   23  {'Height': {'h1': 23}, 'Weight': 76}

In [39]:
df1

   name  age info.Height  info.Weight
0  Adam   23  {'h1': 23}           76

In [40]:
df2

   name  age  info.Height.h1  info.Weight
0  Adam   23              23           76

In [41]:
import pandas as pd

data = [{"id": 1,"name": "Cole Volk","fitness": {"height": 130, "weight": 60},},
        {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
        {"id": 2,"name": "Faye Raker","fitness": {"height": 130, "weight": 60}}]

# Not a pure JSON structure but pandas can still work with this kind of structure

df = pd.json_normalize(data, max_level=1)

df

    id        name  fitness.height  fitness.weight
0  1.0   Cole Volk             130              60
1  NaN    Mark Reg             130              60
2  2.0  Faye Raker             130              60

<h4>When to use what?</h4>

- Use `read_json()` when you have a simple JSON structure.
- Use `json_normalize()` when you have a nested/complicated JSON structured data.

In [42]:
import pandas as pd
from io import StringIO

# This JSON has one of the value as list of dictionary
data = [{"name":"Adam","age":23,"info":[{"Height":180,"Weight":76}]}]

# In order to read this data properly we need to utilize some extra parameters
df = pd.json_normalize(data,meta=["name","age"],record_path=["info"])

df

   Height  Weight  name age
0     180      76  Adam  23

- The `meta` paramter takes those column names or keys which are at level=0.
- The `record_path` parameter takes those keys as list of strings which have value as list of dictionary.

<h1>Application Programming Interface (API)</h1>

- An API, which stands for application programming interface, is a set of protocols that enable different software components to communicate and transfer data.
- Developers use APIs to bridge the gaps between small, discrete chunks of code in order to create applications that are powerful, resilient, secure, and able to meet user needs.

<img src="notes images\API.svg">

<h2>How do APIs work?</h2>

- APIs work by sharing data between applications, systems, and devices.
- This happens through a request and response cycle.
- The request is sent to the API, which retrieves the data and returns it to the user.

The high level working of API consist of the following:
1. <b><u>API client</u></b>
    - The API client is responsible for starting the conversation by sending the request to the API server.
    - The request can be triggered in many ways.
        - For instance, a user might initiate an API request by entering a search term or clicking a button.
    - API requests may also be triggered by external events, such as a notification from another application.

2. <b><u>API request</u></b>
    - An API request will look and behave differently depending on the type of API, but it will typically include the following components:
        - `Endpoint`:
            - An API endpoint is a dedicated URL that provides access to a specific resource.
            - For instance, the /articles endpoint in a blogging app would include the logic for processing all requests that are related to articles.
        - `Method`:
            - The request's method indicates the type of operation the client would like to perform on a given resource.
            - REST APIs are accessible through standard HTTP methods, which perform common actions like retrieving, creating, updating, and deleting data.
        - `Parameters`:
            - Parameters are the variables that are passed to an API endpoint to provide specific instructions for the API to process.
            - These parameters can be included in the API request as part of the URL, in the query string, or in the request body.
                - For example, the /articles endpoint of a blogging API might accept a “topic” parameter, which it would use to access and return articles on a specific topic.
        - `Request Headers`:
            - Request headers are key-value pairs that provide extra details about the request, such as its content type or authentication credentials.
        - `Request Body`:
            - The body is the main part of the request, and it includes the actual data that is required to create, update, or delete a resource.
            - For instance, if you were creating a new article in a blogging app, the request body would likely include the article's content, title, and author.
3. <b><u>API server</u></b>
    - The API client sends the request to the API server, which is responsible for handling authentication, validating input data, and retrieving or manipulating data.

4. <b><u>API response</u></b>
    - Finally, the API server sends a response to the client.
    - The API response typically includes the following components:
        - `Status code`:
            - HTTP status codes are three-digit codes that indicate the outcome of an API request.
            - 200 OK -> server successfully returned the requested data
            - 201 Created -> server successfully created a new resource
            - 404 Not Found -> server could not find the requested resource.
        - `Response headers`:
            - HTTP response headers are very similar to request headers, except they are used to provide additional information about the server's response.
        - `Response body`:
            - The response body includes the actual data or content the client asked for—or an error message if something went wrong.

<h2>What are the benefits of APIs?</h2>

The most common advantages of APIs include:
- `Automation`:
    - APIs can be used to automate repetitive, time consuming work so that humans can focus on more complex tasks.
    - This improves productivity, especially for developers and testers.
- `Innovation`:
    - Public APIs can be used by external engineering teams, which spurs innovation and accelerates development by enabling developers to repurpose existing functionality to create new digital experiences.
- `Security`:
    - APIs can provide an additional layer of protection against unauthorized breaches by requiring authentication and authorization for any request to access sensitive data.
- `Cost efficiency`:
    - APIs provide access to useful third-party tools and infrastructure, which helps businesses avoid the expense of building complex in-house systems.

<h2>Types of API</h2>

<img src="notes images\types of api.svg">

<h3>Some other types of APIs are:</h3>

- <b><u>Data (or database) APIs</u></b>
    - Used to connect applications and database management systems.

- <b><u>Operating system (local) APIs</u></b>
    - Used to define how apps use operating system services and resources.

- <b><u>Remote APIs</u></b>
    - Used to define how applications on different devices interact.

- <b><u>Web APIs</u></b>
    - Used to enable data and functionality transfer over the internet using HTTP protocol.

```
Today, most APIs are web APIs. Web APIs are a type of remote API (meaning that the API uses protocols to manipulate external resources) that expose an application's data and functionality over the internet.
```
- <b><u>Partner APIs</u></b>
    - Partner APIs connect strategic business partners.
    - Typically, developers access these APIs in self-service mode through a public API developer portal.
    - Still, they need to complete an onboarding process and get login credentials to access partner APIs.

- <b><u>Composite APIs</u></b>
    - Composite APIs combine multiple data or service APIs.
    - They allow programmers to access several endpoints in a single call.
    - Composite APIs are useful in microservices architecture where running a single task might require information from several sources.

<h2>Reading Data From API</h2>

- The most common place for getting API is Rapid API.
- <a href="https://rapidapi.com/">RAPID API HOME PAGE</a>
- Rapid API is like Kaggle of APIs.

<img src="notes images\rapid api home.png">

- Prefer to use Public APIs as they are free.
- Private API will require you to pay up an amount to use them.

<h2>Some API Links for reference:</h2>

- https://rapidapi.com/MeteosourceWeather/api/ai-weather-by-meteosource/
- https://catalog.data.gov/dataset/electric-vehicle-population-data
- https://rapidapi.com/dbarkman/api/everyearthquake
- https://rapidapi.com/alexanderxbx/api/maps-data
- https://www.latlong.net/

<h2>In order to understand the working of API lets take the first one and do the following:</h2>

<h3>Step 1</h3>

<img src="notes images\rapid step 1.png">

<h3>Step 2</h3>

<img src="notes images\rapid step 2.png">

<h3>Step 3</h3>

<img src="notes images\rapid step 3.png">
<br>

<b><u>NOTE</u>: ENSURE AND VERIFY FOR FREE API THE 3 RED BOXES ARE THE WAY AS SHOWN IN IMAGE AND DONT SUBMIT CARD DETAILS FOR FREE APIs</b>

<h3>Step 4</h3>

<img src="notes images\rapid step 4.png">

<h3>Step 5</h3>

<img src="notes images\rapid step 5.PNG">

In [1]:
!pip install requests

Requirement already satisfied: requests in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from requests) (2024.2.2)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import requests

url = "https://ai-weather-by-meteosource.p.rapidapi.com/find_places"

# Query String is the dictionary which contains what information you want and in which language
querystring = {"text":"fishermans wharf","language":"en"}

# Headers is basically to tell about the host and the key which acts as a verification
# of authentic user requesting the data
headers = {
	"X-RapidAPI-Key": "189694d9a3msh551c320c92a40a6p164fc3jsn486768b04146",
	"X-RapidAPI-Host": "ai-weather-by-meteosource.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [3]:
print(response,type(response),sep="\n")

<Response [200]>
<class 'requests.models.Response'>

- `Response [200]` means that data has been successfully fetched from the server.
- Now to view the data we will use the `json()` method.

In [4]:
data = response.json()
data

[{'name': 'Fishermans Wharf',
  'place_id': 'fishermans-wharf-6930485',
  'adm_area1': 'California',
  'adm_area2': 'Contra Costa',
  'country': 'United States of America',
  'lat': '37.80761N',
  'lon': '122.41714W',
  'timezone': 'America/Los_Angeles',
  'type': 'settlement'},
 {'name': 'Fishermans Wharf Mobile Home Park',
  'place_id': 'fishermans-wharf-mobile-home-park-7190590',
  'adm_area1': 'Florida',
  'adm_area2': 'Lake',
  'country': 'United States of America',
  'lat': '28.8881N',
  'lon': '81.8688W',
  'timezone': 'America/New_York',
  'type': 'settlement'},
 {'name': "Fisherman's Wharf Park",
  'place_id': 'fishermans-wharf-park',
  'adm_area1': 'British Columbia',
  'adm_area2': 'Capital Regional District',
  'country': 'Canada',
  'lat': '48.42147N',
  'lon': '123.38267W',
  'timezone': 'America/Vancouver',
  'type': 'bay'},
 {'name': "Fisherman's Wharf Marina",
  'place_id': 'fishermans-wharf-marina',
  'adm_area1': 'Virginia',
  'adm_area2': 'Virginia Beach',
  'country': 'United States of America',
  'lat': '36.83141N',
  'lon': '75.97632W',
  'timezone': 'America/New_York',
  'type': 'harbor'},
 {'name': 'Fishermans Wharf Park',
  'place_id': 'fishermans-wharf-park-4238714',
  'adm_area1': 'Illinois',
  'adm_area2': 'Macon',
  'country': 'United States of America',
  'lat': '39.82309N',
  'lon': '88.95591W',
  'timezone': 'America/Chicago',
  'type': 'park'}]

- Upon closer inspection of the JSON data, it is given as a list of dictionaries.
- To convert this data into tabular form we will use `json_normalize()`

In [6]:
!pip install pandas
import pandas as pd
df = pd.json_normalize(data)
df

Requirement already satisfied: pandas in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\innomatics research labs\vaibhav saran\resources\difenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

,name,place_id,adm_area1,adm_area2,country,lat,lon,timezone,type
0,Fishermans Wharf,fishermans-wharf-6930485,California,Contra Costa,United States of America,37.80761N,122.41714W,America/Los_Angeles,settlement
1,Fishermans Wharf Mobile Home Park,fishermans-wharf-mobile-home-park-7190590,Florida,Lake,United States of America,28.8881N,81.8688W,America/New_York,settlement
2,Fisherman's Wharf Park,fishermans-wharf-park,British Columbia,Capital Regional District,Canada,48.42147N,123.38267W,America/Vancouver,bay
3,Fisherman's Wharf Marina,fishermans-wharf-marina,Virginia,Virginia Beach,United States of America,36.83141N,75.97632W,America/New_York,harbor
4,Fishermans Wharf Park,fishermans-wharf-park-4238714,Illinois,Macon,United States of America,39.82309N,88.95591W,America/Chicago,park

In [7]:
# Another example with current weather API
import requests

url = "https://ai-weather-by-meteosource.p.rapidapi.com/current"

querystring = {"lat":"17.491659","lon":"78.391983","timezone":"Asia/Calcutta","language":"en","units":"ca"}

headers = {
	"X-RapidAPI-Key": "189694d9a3msh551c320c92a40a6p164fc3jsn486768b04146",
	"X-RapidAPI-Host": "ai-weather-by-meteosource.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [8]:
response

In [9]:
data = response.json()
data

{'lat': '17.491659N',
 'lon': '78.391983E',
 'elevation': 586,
 'timezone': 'Asia/Calcutta',
 'units': 'ca',
 'current': {'icon': 'overcast',
  'icon_num': 7,
  'summary': 'Overcast',
  'temperature': 24.0,
  'feels_like': 25.0,
  'wind_chill': 25.0,
  'dew_point': 21.5,
  'wind': {'speed': 10.5, 'gusts': 25.4, 'angle': 294, 'dir': 'WNW'},
  'precipitation': {'total': 0.0, 'type': 'none'},
  'cloud_cover': 100,
  'ozone': 274.71,
  'pressure': 101,
  'uv_index': 0.0,
  'humidity': 85,
  'visibility': 24.13}}

In [50]:
# Since the data being fetched by JSON is a nested dictionary it can directly be converted to Dataframe
# using JSON normalzie
df = pd.json_normalize(data)
df

,lat,lon,elevation,timezone,units,current.icon,current.icon_num,current.summary,current.temperature,current.feels_like,...,current.wind.angle,current.wind.dir,current.precipitation.total,current.precipitation.type,current.cloud_cover,current.ozone,current.pressure,current.uv_index,current.humidity,current.visibility
0,17.491659N,78.391983E,586,Asia/Calcutta,ca,partly_sunny,4,Partly sunny,38.2,37.5,...,139,SE,0.0,none,38,280.29,100,7.27,14,24.14

- Use google maps API to find which location is being referred to in the above code snippet.
- Refer:
    - https://developers.google.com/maps/apis-by-platform
    - https://rapidapi.com/alexanderxbx/api/maps-data

In [51]:
import requests

url = "https://maps-data.p.rapidapi.com/whatishere.php"

querystring = {"lat":"78.391983","lng":"17.491659","lang":"en","country":"us"}

headers = {
	"X-RapidAPI-Key": "189694d9a3msh551c320c92a40a6p164fc3jsn486768b04146",
	"X-RapidAPI-Host": "maps-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [52]:
data = response.json()

df = pd.json_normalize(data)

df

,data.address,data.place_id,data.coordinates.lng,data.coordinates.lat,data.timezone,data.town,data.country,data.places
0,"Ashok Nagar, Kukatpally Housing Board Colony, ...",0x3bcb918ccff1d0b1:0xb65be12363ff873d,17.491708,78.392036,Asia/Calcutta,"Hyderabad, Telangana, India",IN,[]

In [53]:
print(df["data.address"][0])

Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India

<h4>Taking Restraunts Example</h4>

In [54]:
import requests

url = "https://maps-data.p.rapidapi.com/searchmaps.php"

querystring = {"query":"restaurant","limit":"100","country":"in","lang":"en","lat":"17.491659","lng":"78.391983","offset":"0","zoom":"13"}

headers = {
	"X-RapidAPI-Key": "189694d9a3msh551c320c92a40a6p164fc3jsn486768b04146",
	"X-RapidAPI-Host": "maps-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [55]:
data = response.json()

data

{'data': [{'business_id': '0x3bcb9168b4c2b5d9:0xaa9071b113c3dc9d',
   'phone_number': '+918885699994',
   'name': 'Vintage Restaurant',
   'full_address': 'Vintage Restaurant, HIG-214, K P H B Phase 1, Kukatpally, Hyderabad, Telangana 500072',
   'latitude': 17.491042099999998,
   'longitude': 78.3992694,
   'review_count': 1120,
   'rating': 4,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJ2bXCtGiRyzsRndzDE7FxkKo',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb9168b4c2b5d9:0xaa9071b113c3dc9d',
   'types': ['Family restaurant', 'Event venue'],
   'price_level': None,
   'working_hours': {'Tuesday': ['11\u202fam–11\u202fpm'],
    'Wednesday': ['11\u202fam–11\u202fpm'],
    'Thursday': ['11\u202fam–11\u202fpm'],
    'Friday': ['11\u202fam–11\u202fpm'],
    'Saturday': ['12:30–11\u202fpm'],
    'Sunday': ['11\u202fam–11\u202fpm'],
    'Monday': ['11\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipPA2pPdUJEoTTyfycyyo7mkVN6cWo5eNvLWQ56D=w203-h152-k-no',
     'max_size': [4032, 3024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNEu7OUM00fRXdlKxzJVDDlKhIQ5QgXwkli0OVv=w203-h236-k-no',
     'max_size': [1080, 1256],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOTw_g0CxZ_NMo_2hMRBaBf_xnlfVHCXrNVvim5=w203-h114-k-no',
     'max_size': [4000, 2248],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipP9LPEKOqFdXPFEfAbG8MRgVDQwluxg6FA7HVhe=w203-h152-k-no',
     'max_size': [4032, 3024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPghKDunVDMYP5Zr0TjecUU9ka0xEAsFgDE_RAv=w203-h270-k-no',
     'max_size': [2448, 3264],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOB9HqqmjKLBDsE4tiFODXjr8RRB6XMAYwpZBxm=w203-h270-k-no',
     'max_size': [3000, 4000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPRWm_Q0Qerx9Lw-TkbPZxw95WZGyzHd8CfoHvR=w203-h270-k-no',
     'max_size': [3000, 4000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMDvgRtrf3nQTdc6vx7qdlW69tWMLROyc4z0DNI=w203-h270-k-no',
     'max_size': [3120, 4160],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPmDnKNdeuSCkcym6OcJMJY_QLDfxq_dVugBDlX=w203-h114-k-no',
     'max_size': [4000, 2248],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': []},
  {'business_id': '0x3bcb91a43d378b27:0xf27e6946d605483',
   'phone_number': '+916305521329',
   'name': "Hunger's Choice Multicuisine Restaurant",
   'full_address': "Hunger's Choice Multicuisine Restaurant, MIG-415, KPHB, Road, NO- 4, Remedy Hospital Ln, Hyderabad, Telangana 500072",
   'latitude': 17.4897566,
   'longitude': 78.3963823,
   'review_count': 1276,
   'rating': 4.5,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJJ4s3PaSRyzsRg1RgbZTmJw8',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb91a43d378b27:0xf27e6946d605483',
   'types': ['Fine dining restaurant'],
   'price_level': '₹₹',
   'working_hours': {'Tuesday': ['11:45\u202fam–11:30\u202fpm'],
    'Wednesday': ['11:45\u202fam–11:30\u202fpm'],
    'Thursday': ['11:45\u202fam–11:30\u202fpm'],
    'Friday': ['11:45\u202fam–11:30\u202fpm'],
    'Saturday': ['11:45\u202fam–11:30\u202fpm'],
    'Sunday': ['11:45\u202fam–11:30\u202fpm'],
    'Monday': ['11:45\u202fam–11:30\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipM0lb2wKZfcX57vgGn036r6EdFmsJqZqbUkx2QF=w203-h152-k-no',
     'max_size': [4032, 3024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPh_U4BlJmVSKIrriTfM-3GLf4spwbKtCyEZ4x3=w203-h152-k-no',
     'max_size': [4032, 3024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMA_rUod2kjJqfYtbhJ6a4BlATds5EjXWVi9H_V=w203-h135-k-no',
     'max_size': [1280, 853],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOPjQhXnJYoAYuPUAPF8h5y2hVCFnoGLMlXBFkT=w203-h135-k-no',
     'max_size': [5184, 3456],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOdJt7w1R4OQWYUfVBbWeHtLrgS5cMomte_5xUU=w203-h166-k-no',
     'max_size': [1305, 1069],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipM9POJ9eIlguJoOFOVLR1JWF9lTcprNmdORyC9h=w203-h135-k-no',
     'max_size': [6720, 4480],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOQB7D8vnDIHpCRBbvh5Gln9mTtuOcdiVhWblsf=w203-h203-k-no',
     'max_size': [3144, 3144],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPe9d35TJ_vqwdAHqVAQ06f050rZyPRdremJl4O=w203-h259-k-no',
     'max_size': [614, 785],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNnHnxU0dU6itC06JrNEIsnJK2YX7BiT8CtoYeF=w203-h135-k-no',
     'max_size': [5184, 3456],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11:30\u202fpm',
   'description': []},
  {'business_id': '0x3bcb910da9868cad:0x10c8381019525352',
   'phone_number': '+917331137575',
   'name': 'Brundavanam family restaurant',
   'full_address': 'Brundavanam family restaurant, MIG-18, Dharma Reddy Colony Phase I, Kukatpally, Hyderabad, Telangana 500085',
   'latitude': 17.495485,
   'longitude': 78.395844,
   'review_count': 31,
   'rating': 4.1,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJrYyGqQ2RyzsRUlNSGRA4yBA',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb910da9868cad:0x10c8381019525352',
   'types': ['Family restaurant'],
   'price_level': None,
   'working_hours': {'Tuesday': ['10\u202fam–11\u202fpm'],
    'Wednesday': ['10\u202fam–11\u202fpm'],
    'Thursday': ['10\u202fam–11\u202fpm'],
    'Friday': ['10\u202fam–11\u202fpm'],
    'Saturday': ['10\u202fam–11\u202fpm'],
    'Sunday': ['10\u202fam–11\u202fpm'],
    'Monday': ['10\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': False,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipPVsF3EbjSp_aF3LnGwCNZ9jXkNPRAud0yz1No4=w216-h100-k-no',
     'max_size': [1024, 473],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOFAZ0zeJ_91E7cb5rhxB5qbhiCdYOIkBcbuB6L=w216-h100-k-no',
     'max_size': [4000, 1846],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipP7692_Qp7Nojve-kEz67TGYitKNG64QnUerOvf=w216-h100-k-no',
     'max_size': [4208, 1942],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPcVL5DzHfGVTmoE8rT-RBWxBEm3Rd3P5bmQNdp=w203-h114-k-no',
     'max_size': [1920, 1080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMfOEnmbzLkT6J9n3WSvqCQ28KHvfMA1ZxCRVpw=w203-h114-k-no',
     'max_size': [1920, 1080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOoLwhVoei3cWaSPCDN2vR5FFZMn6O-6Gr5KBhp=w203-h439-k-no',
     'max_size': [473, 1024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOdJZG3cnLE0HoIhtHF27UwpFLeHsAV561hUl8d=w216-h100-k-no',
     'max_size': [1024, 473],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMmCnRM9wyLOnBbxewhZ72ysQfV3eO2Gms_I-Zk=w203-h114-k-no',
     'max_size': [1920, 1080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPjiqjbpWBS1M54j42QZYJ_4szMore0dNebd6xT=w203-h114-k-no',
     'max_size': [3520, 1980],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': []},
  {'business_id': '0x3bcb91eda5bc8bbd:0x364a9224bf102e5f',
   'phone_number': '+914023893399',
   'name': 'Tabla Restaurant & Banquet',
   'full_address': '2nd Floor, Tabla Restaurant & Banquet, TSHB Commercial Complex, near Shiva Parvati Theatre, opposite Metro Pillar Number 730, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500072',
   'latitude': 17.496134299999998,
   'longitude': 78.3977012,
   'review_count': 6161,
   'rating': 3.9,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJvYu8pe2RyzsRXy4QvySSSjY',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb91eda5bc8bbd:0x364a9224bf102e5f',
   'types': ['Restaurant',
    'Andhra restaurant',
    'Banquet hall',
    'Chinese restaurant',
    'Continental restaurant',
    'Fine dining restaurant',
    'North Indian restaurant',
    'South Indian restaurant'],
   'price_level': '₹₹',
   'working_hours': {'Tuesday': ['11\u202fam–11\u202fpm'],
    'Wednesday': ['11\u202fam–11\u202fpm'],
    'Thursday': ['11\u202fam–11\u202fpm'],
    'Friday': ['11\u202fam–11\u202fpm'],
    'Saturday': ['11\u202fam–11\u202fpm'],
    'Sunday': ['11\u202fam–11\u202fpm'],
    'Monday': ['11\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipMWR6xX3SFQ1dEAI2kfwGbRSRldAr-VZKY5EvmQ=w203-h135-k-no',
     'max_size': [7952, 5304],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipONkfm1uOea3rzbKaES1jjechjyDLYGGUVqRsPl=w203-h152-k-no',
     'max_size': [2048, 1536],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMhRRUhTQ2enOmkJuTyeiHYGVZrMBfqVn82radK=w203-h203-k-no',
     'max_size': [5293, 5293],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOMwTYLSUSApg5aesmbFJkkfGIOszYA-zr1OtE=w222-h100-k-no',
     'max_size': [4624, 2080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipP2hidtNMVdRK0iVGs6O85EhvnOrfI3-UFsuZs-=w203-h114-k-no',
     'max_size': [1920, 1080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMwjYsXeknGPX-0636cvGurvyzOW88DdKaaEGzs=w203-h152-k-no',
     'max_size': [4032, 3024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPKx2wE-HfehMD_7Dmis3QdsE2XJ98ynHy_uJsf=w203-h270-k-no',
     'max_size': [3024, 4032],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipN5vayqhrWLqeELPCA59uAwzBmskBGmcplC9sls=w203-h152-k-no',
     'max_size': [3264, 2448],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipN2p5rYCPqC0tM4IFmd_wcyiX3_x3XQF4uel8DZ=w203-h135-k-no',
     'max_size': [7776, 5187],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': ['Stylish dining room for Indian cuisine',
    'North & South Indian fare plus some Chinese offerings served in a refined, modern space.']},
  {'business_id': '0x3bcb91440160b55b:0x26409df00cae47e8',
   'phone_number': None,
   'name': 'New Chillies Restaurant & Banquets',
   'full_address': 'New Chillies Restaurant & Banquets, Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085',
   'latitude': 17.4976926,
   'longitude': 78.39186939999999,
   'review_count': 2563,
   'rating': 4.5,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJW7VgAUSRyzsR6EeuDPCdQCY',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb91440160b55b:0x26409df00cae47e8',
   'types': ['Indian restaurant'],
   'price_level': '₹₹',
   'working_hours': {'Tuesday': ['11\u202fam–11\u202fpm'],
    'Wednesday': ['11\u202fam–11\u202fpm'],
    'Thursday': ['11\u202fam–11\u202fpm'],
    'Friday': ['11\u202fam–11\u202fpm'],
    'Saturday': ['11\u202fam–11\u202fpm'],
    'Sunday': ['12:30\u202fpm–12\u202fam'],
    'Monday': ['12\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipMQPdwKTPQnKuHz8eHN8L4E0gTt9g5DTkd78Rv5=w203-h152-k-no',
     'max_size': [1024, 768],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOX0tQOpRAHRER-jmFJeW_D1xMn4HPECfme5UAp=w203-h114-k-no',
     'max_size': [1800, 1013],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOBnMf41KhvGoX3RvwhgnW44NsepMnIJSq3ptlk=w203-h270-k-no',
     'max_size': [768, 1024],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPPOGoq0-Uei0kAWEYtJjnmYJbSQ8Ey3Wb41WDb=w203-h152-k-no',
     'max_size': [4080, 3060],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOevlCUFuGnvttEA1rqs08S2dhYicQsfrYyjgdP=w203-h114-k-no',
     'max_size': [1920, 1080],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMCyb2hx-haAP9BEBQpTBJ_GlTENb03Hu9vvnPR=w203-h209-k-no',
     'max_size': [720, 744],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPSRrEl6G59z83mj-QtgK1c-Tn_V1s_nh-rM_vd=w203-h270-k-no',
     'max_size': [6000, 8000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPUfY3ZtMxWPFxT7Rusu7La-fmzGJ9nKGYQdWOK=w203-h152-k-no',
     'max_size': [4080, 3060],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOaCJmYuaojooBLnfrgr39q_my6HSRe-Hmymk8U=w203-h270-k-no',
     'max_size': [3468, 4624],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': []},
  {'business_id': '0x3bcb91cf796eb63d:0xf6df4bee012d355f',
   'phone_number': '+919666553201',
   'name': 'CHANDRA RESTAURANT',
   'full_address': "CHANDRA RESTAURANT, Plot No.96A & 97A, Dhanalakshmi Enclave, 6th Cross, opposite Rao's My Techno School, Addagutta Society, Western Hills, Jal Vayu Vihar, Kukatpally, Hyderabad, Telangana 500085",
   'latitude': 17.4993862,
   'longitude': 78.3950825,
   'review_count': 207,
   'rating': 3.1,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJPbZuec-RyzsRXzUtAe5L3_Y',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb91cf796eb63d:0xf6df4bee012d355f',
   'types': ['Indian restaurant'],
   'price_level': None,
   'working_hours': {'Tuesday': ['11:55\u202fam–11\u202fpm'],
    'Wednesday': ['11:55\u202fam–11\u202fpm'],
    'Thursday': ['11:55\u202fam–11\u202fpm'],
    'Friday': ['11:55\u202fam–11\u202fpm'],
    'Saturday': ['11:55\u202fam–11\u202fpm'],
    'Sunday': ['11:55\u202fam–11\u202fpm'],
    'Monday': ['11:55\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipM6ULdV-cGzxjMKE2OlaeRRmVhZeE7MAiHWsNdx=w203-h152-k-no',
     'max_size': [4624, 3472],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNe1N3WhIxeJByulUNhfo1Kcy2xzviHtaYs01DZ=w203-h152-k-no',
     'max_size': [4000, 3000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPS9sL7hcD302fN_m6LDwb__LgD_yfut83j-tEQ=w203-h152-k-no',
     'max_size': [4000, 3000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipN3kI67ybXQnb_dMYTzOhwLsX2UcdOO52izibhP=w203-h152-k-no',
     'max_size': [4000, 3000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipO73H3qV2aynkGI9g4lPK6qWd_oR-3Jf5uBAR7W=w203-h152-k-no',
     'max_size': [4000, 3000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPEcslpRN77IipWGAVfVk4cW0tllg4YJ8KXcsie=w203-h270-k-no',
     'max_size': [3000, 4000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNMIy_pTTOHnsALAM0WjWNdpTeXOVidDQsKcith=w203-h270-k-no',
     'max_size': [3000, 4000],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNb2LRPOrON-UH33QmOLAiOXZ6yk1nXsCOCd0hw=w203-h453-k-no',
     'max_size': [2068, 4624],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipPmDDHf_Kx9DRkeREAmRsICZOkq7-aVAe3n3VWY=w203-h270-k-no',
     'max_size': [3000, 4000],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': []},
  {'business_id': '0x3bcb917ea0ebfceb:0x58ab48e16b3b6cdb',
   'phone_number': '+919154131340',
   'name': 'Platform 65 - The Train Theme Restaurant - KPHB',
   'full_address': '3rd Floor, Platform 65 - The Train Theme Restaurant - KPHB, PNR एम्पायर, Kukatpally, Hyderabad, Telangana 500072',
   'latitude': 17.495505899999998,
   'longitude': 78.39945279999999,
   'review_count': 37924,
   'rating': 4.3,
   'timezone': 'Asia/Calcutta',
   'website': 'https://platform65.in/',
   'place_id': 'ChIJ6_zroH6RyzsR22w7a-FIq1g',
   'place_link': 'https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0x3bcb917ea0ebfceb:0x58ab48e16b3b6cdb',
   'types': ['Restaurant',
    'Biryani restaurant',
    'Chinese restaurant',
    'Family restaurant',
    'Fast food restaurant',
    'Indian restaurant',
    'Lunch restaurant',
    'Non Vegetarian Restaurant',
    'South Indian restaurant',
    'Vegetarian restaurant'],
   'price_level': '₹₹',
   'working_hours': {'Tuesday': ['11:30\u202fam–11\u202fpm'],
    'Wednesday': ['11:30\u202fam–11\u202fpm'],
    'Thursday': ['11:30\u202fam–11\u202fpm'],
    'Friday': ['11:30\u202fam–11\u202fpm'],
    'Saturday': ['11:30\u202fam–11\u202fpm'],
    'Sunday': ['11:30\u202fam–11\u202fpm'],
    'Monday': ['11:30\u202fam–11\u202fpm']},
   'city': 'Hyderabad, Telangana',
   'verified': True,
   'photos': [{'src': 'https://lh5.googleusercontent.com/p/AF1QipMNott64mfvfuV4Xc3cznmQKhSnZdKmKgaI9X9t=w203-h144-k-no',
     'max_size': [5090, 3635],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNOjlxNevjI1wWoHcGT4wlPueS3ONrSUcLJjuwJ=w203-h270-k-no',
     'max_size': [4284, 5712],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOFkt30BmFGiEYdYVAAeXQw4DnISzfWhyz2wI9e=w203-h144-k-no',
     'max_size': [4800, 3428],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipOl8gMDZ9JT9Wiyi_7jk-LLv-RVRtOvk9zQEsXv=w203-h270-k-no',
     'max_size': [6936, 9248],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipP5HtRNt5lhIHukbI03NIApy0JsV7D506G4wE8A=w203-h270-k-no',
     'max_size': [4284, 5712],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMqXL1nnHyUrQmjZJOR9ng3IlUiCE-bZf1Ft2hO=w203-h144-k-no',
     'max_size': [2696, 1913],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNQ173g6ryVMw5HiD8Ag4Y-rpqYvDo2cq53CKoV=w203-h152-k-no',
     'max_size': [4608, 3456],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipNjv0Wp3hRUCjeBRmZUfG0eqkmAhX1QEkKCGxJD=w203-h114-k-no',
     'max_size': [4032, 2268],
     'min_size': [203, 100]},
    {'src': 'https://lh5.googleusercontent.com/p/AF1QipMD2pVQ7o6aOsIvD-YzIuPHIHgwiH1KHmrJGQUS=w203-h270-k-no',
     'max_size': [3024, 4032],
     'min_size': [203, 100]}],
   'state': 'Open ⋅ Closes 11\u202fpm',
   'description': ['Novel, train-themed Indian restaurant',
    'Whimsical eatery featuring train-themed decor & South Indian dishes served by miniature trains.']},
  {'business_id': '0x3bcb91f3cff7fbbd:0x38ce8e014a0f10dd',
   'phone_number': '+917416057131',
   'name': 'Indian Red Chillies',
   'full_address': 'Indian Red Chillies, MIG-45, Ashok Nagar, Dharma Reddy Colony Phase I, Kukatpally, Hyderabad, Telangana 500085',
   'latitude': 17.4975077,
   'longitude': 78.3919727,
   'review_count': 3532,
   'rating': 3.6,
   'timezone': 'Asia/Calcutta',
   'website': None,
   'place_id': 'ChIJvfv3z_ORyzsR3RAPSgGOzjg',

In [56]:
# Since the JSON data has value as a list of dictionary we will use record_path
df = pd.json_normalize(data,record_path=["data"])

df.head(2)

,business_id,phone_number,name,full_address,latitude,longitude,review_count,rating,timezone,website,...,state,description,working_hours.Tuesday,working_hours.Wednesday,working_hours.Thursday,working_hours.Friday,working_hours.Saturday,working_hours.Sunday,working_hours.Monday,working_hours
0,0x3bcb9168b4c2b5d9:0xaa9071b113c3dc9d,+918885699994,Vintage Restaurant,"Vintage Restaurant, HIG-214, K P H B Phase 1, ...",17.491042,78.399269,1120.0,4.0,Asia/Calcutta,None,...,Open ⋅ Closes 11 pm,[],[11 am–11 pm],[11 am–11 pm],[11 am–11 pm],[11 am–11 pm],[12:30–11 pm],[11 am–11 pm],[11 am–11 pm],NaN
1,0x3bcb91a43d378b27:0xf27e6946d605483,+916305521329,Hunger's Choice Multicuisine Restaurant,"Hunger's Choice Multicuisine Restaurant, MIG-4...",17.489757,78.396382,1276.0,4.5,Asia/Calcutta,None,...,Open ⋅ Closes 11:30 pm,[],[11:45 am–11:30 pm],[11:45 am–11:30 pm],[11:45 am–11:30 pm],[11:45 am–11:30 pm],[11:45 am–11:30 pm],[11:45 am–11:30 pm],[11:45 am–11:30 pm],NaN

<h4>Resources for API</h4>

- <a href="https://www.postman.com/what-is-an-api/">What is API? Postman Documentation</a>
- <a href="https://www.ibm.com/topics/api">Understanding API. IBM Blog</a>